.sign-header{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}
.sign-overflow{
    background-color: rgba(0, 0, 0, 0.308);
   
}
.sign-model{
    width: 55%;
   
    background-color: rgba(7, 12, 58, 0.87);
    margin: 50px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px silver;
    padding: 20px 15px;
    
}
.form-head{
    margin: 0px auto;
    text-align: center;
}
.input-items input{
   border-bottom: 1px solid rgb(255, 185, 7);
    width: 80%;
    height: 40px;
   border-left: none;
   border-right: none;
    border-top: none;
    background-color: transparent;
    font-size: 18px;   
     color: white;
    padding: 10px 10px;
   
}
.signUp-title{
    color: rgb(255, 185, 7);
    font-size: 35px;
    margin: 20px 0px;
}
::placeholder{
    color: rgb(255, 185, 7);
}
.input-items input:focus{
    background-color: white;
    outline: none;
    border-radius: 8px;
    color: rgb(148, 49, 6);
}
.input-items{
    margin-bottom:50px ;
}
.border-pera{
    border: 1px solid  rgb(255, 185, 7);
    margin: 10px;
    width: 40%;
}
.google-logo{
    height: 22px ;
    width: 50px;
}
.google-account{
    padding: 5px 0px;
    height: 45px;
    background-color:rgb(255, 185, 7) ;
    width: 60%;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
.google-account p{
    font-size: 20px;
    margin-top: 10px;
    letter-spacing: 2px;
}
.google-account:hover{
    background-color:rgb(255, 255, 255) ;
    color: rgb(255, 185, 7);
}
.submit-btn:hover{
    background-color: rgb(29, 31, 51);
}
@media screen and (max-width:765px) {
    .sign-model{
        width: 95%;
    }
}