.categorious-head{
    background: linear-gradient(90deg, rgb(2, 0, 26) 0%, rgb(1, 1, 7) 35%, rgb(1, 23, 27) 100%);
}
.cate-list{
    display: flex;
    justify-content: center;
    
}

.cate-line{
    width: 25%;
}
.cate-list{
    display: flex;
    text-transform: uppercase;
}
.lam-card{
    height: 280px;
    position: relative;
    overflow: hidden;
    
}
.lam-card:hover .lam-img{
 transform: scale(1.1);
}
.lam-img{
    height: 150px;
    transition: 600ms;
}
.lam-car-footer{
    position: absolute;
    bottom: 5px;
}