.blog-main {   
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog{
    position: relative;
    margin: 20px auto;
}
.search-card{
    margin: 20px auto;
}
.blog-date{
    position: absolute;
    width: 10%;
    background-color: rgb(15, 138, 219);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.blog-title{
    color: white;
    font-weight: 700;
    font-size: 60px;
}
.blog-body-part{
    background-color: #F9F6F6;
}
.blog-first-icon{
    border-right: 2px solid rgb(145, 145, 168) ;
}
.icon-pera{
   color: rgb(145, 145, 168);   
}
.blog-search-input{
    height: 50px;
}
.list-img{
    width: 100px;
    height: 70px;
    border-radius: 5px;

}
.tag-list{
    display: flex;
    flex-wrap: wrap;
}
.list-pera{
    background-color: rgb(43, 199, 226);
    padding: 8px;
    margin: 10px;
    font-weight: 500;
    border-radius: 5px;
    color: white;   
    
}
.intra-img{
    width: 30%;
    margin: 5px;
    height: 100px;
}