.navigat{
    position: sticky;
}
.nav-item-link{
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    margin: 0px 5px;
    padding: 15px 12px  ;
    
}
.nav-item-link:hover{
    color:white ;
    background-color: rgb(245, 91, 91);
    border-radius: 5px;
}
.nav-login{
text-decoration: none;
}

.login-items p{
padding: 0;
margin: 0;

line-height: 17px;
font-size: 18px;
font-weight: 400;
color: black;
text-transform: capitalize;
padding: 15px 12px  ;
}
.user-icon{
    margin-right: 8px;
}
.login-items p:hover {
    color:white ;
    background-color: rgb(245, 91, 91);
    border-radius: 5px;

}
.Navbar-title{
    font-weight: 500;
    margin: 0;
    padding: 0;
    
}
.Navbar-title .ak{
color: rgb(245, 91, 91);
 
}
.head-title{
    width: 25%;
}
.search-title{
    width: 50%;
}
.icon-title{
    width: 20%;
}
.search-btn{
    background-color:rgb(245, 91, 91) ;
    border: none;
}
.search-input{
    border: 1px solid  rgb(245, 91, 91);
    width: 100%;
    padding: 10px;
    height: 45px;
}
.link-icon{
    color: rgb(245, 91, 91);
}
.icon-border{
   border-right: 2px solid silver;
   margin-right: 15px;
}
.header-icon{
    font-size: 28px;   
    
}
.navbar-main{
    background-color: white;
    box-shadow: -10px  10px 15px silver;
}
.Nav-header{
    border-bottom: 1px solid rgb(245, 91, 91);
}

.full-height{
    height: 600px;
}
.half-img{
    height: 290px;
    
}
.carousel-caption-item{
    margin-bottom: 50px;
}
.slide-btn{
    background-color:rgb(245, 39, 39) ;
    color: white;    
    padding: 10px 15px;
    text-transform: uppercase;
    border-radius: 5px;
    margin-bottom: 30px;
    border: none;
}
.slide-btn:hover{
    background-color: rgb(245, 178, 91);
}
.logout-head{
    position: relative;
}
.logout-details{
    position: absolute;
    display: none;
    background-color: white;
    color:black;
    width: 200px;
    padding: 10px;
    left: 0;
    border-radius: 5px;
    box-shadow: 0px 10px 15px silver;
}
.logout-details ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.logout-details ul li{
 margin-bottom: 10px;
 font-size: 18px;
 padding: 8px;
}
.logout-details ul li:hover{
 background-color: rgb(245, 91, 91);
 color: white;
 border-radius: 10px;
}
.logout-head:hover .logout-details{
    display: block;
}
.view-profile{
    text-decoration: none;
    color: black;
}
@media screen  and (max-width:950px){
   .search-title{
       width: 60%;
   } 
   .icon-title{
    width: 30%; 
   }
}